@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <hr />

        <p class="text-center">Your login is protected with an authenticator app. Enter your authenticator code below.</p>

        <form method="post" asp-route-returnUrl="@Model.ReturnUrl" class="needs-validation" novalidate>
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" required />
                <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3 text-center">
                <label asp-for="Input.RememberMachine" class="form-label">
                    <input asp-for="Input.RememberMachine" />
                    @Html.DisplayNameFor(m => m.Input.RememberMachine)
                </label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary">Log in</button>
            </div>
        </form>

        @*<p class="text-center mt-3">
            Don't have access to your authenticator device?
        </p>
        <a class="text-center mt-3" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl"> You can log in with a recovery code</a>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
