@model E_Commerce.Models.Order
@using Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject ApplicationDbContext _context;
@inject UserManager<AppUser> _userManager;


<style>
    #paypal-btn:hover {
        transform: rotate(360deg);
        transition: transform 0.5s ease-in-out;
        box-shadow: 0 0 10px #ffd700;
    }
</style>
 <h1 class="text-center mb-4">Click the Button</h1>

<button style="transform: scale(4);    margin-left: 45%;
    margin-top: 100px; margin-bottom: 100px;" type="submit" id="paypal-btn"></button>



<script>
    var orderTotal = @Model.Total;
    ViewData["IsSuccessed"].PaymentSuccess = true;
    @_context.SaveChanges();
</script>

@section Scripts
{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>


        let _total = parseFloat(orderTotal.toFixed(2));


        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'ATOYRbaMQDeT4tUuhvpKZv-4tQc-xgH2ZKmvbiE0HQOFJoFPlEKxPUOggpSgCW3vGx-NFxew2E-MWekQ',

            },
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,

            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },

            onAuthorize: function (data, actions) {
                actions.payment.execute()
                var url = '@Url.Action("Success", "PayPal", new {})';
               
                window.location.href = url;
            }

        }, '#paypal-btn');
    </script>
    }



