@using Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject ApplicationDbContext _context;
@inject  UserManager<AppUser> _userManager;

@{
    ViewData["Title"] = "Payment Success";
}
@{

}
@model ECommerce.Models.Cart




    @if (Model == null)
    {
        <h3 style="text-align:center">Your cart is empty</h3>
    }
    else if (Model?.CartProducts?.Count == 0)
    {
        <h3 style="text-align:center">Your cart is empty</h3>
    }
    else
    {
        <div class="container">
    <div class="row">
        <div class="col-md-12">
            
                <h4 class="text-center">Thank you for your payment. Your order has been received and will be processed shortly.</h4>
            <hr>
           
        </div>
        </div>
    </div>
        <main>
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Product</h5></th>
                                        <th scope="col"><h5>Price</h5></th>
                                        <th scope="col"><h5>Quantity</h5></th>
                                        <th scope="col"><h5>Total</h5></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        float subtotal = 0;
                                    }
                                    @foreach (var item in Model?.CartProducts!)
                                    {
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="@item?.Product?.Image" alt="" />
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>@item?.Product?.Name</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>@item?.Price</h4>
                                            </td>
                                            <td>
                                                <h4>@item?.Quantity</h4>
                                            </td>
                                            <td>
                                                @{
                                                    float total = (float)item.Price * (int)item.Quantity;
                                                    subtotal += total;
                                                }
                                                <h4>@total</h4>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h4>Subtotal</h4>
                                        </td>
                                        <td>
                                            <h4>@subtotal</h4>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>
    }
}

@foreach (var item in Model?.CartProducts!)
{
    _context.CartProducts.Remove(item);
    _context.SaveChanges();
}