@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .cart_inner .table tbody tr td .product_count input{
        padding-left: 0 !important;
    }

    /*.h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }*/
</style>

    @model ECommerce.Models.Cart

@{
    if(Model == null)
    {
        <h3 style="text-align:center">Your cart is empty</h3>
    } else if(Model?.CartProducts?.Count == 0)
    {
        <h3 style="text-align:center">Your cart is empty</h3>
    }
    else
    {
        <main>
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"><h4>Product</h4></th>
                                        <th scope="col"><h4>Price</h4></th>
                                        <th scope="col"><h4>Quantity</h4></th>
                                        <th scope="col"><h4>Total</h4></th>
                                        <th scope="col"><h4>Total</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        float subtotal = 0;
                                    }
                                    @foreach (var item in Model?.CartProducts!)
                                    {
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="@item?.Product?.Image" alt="" />
                                                    </div>
                                                    <div class="media-body">
                                                        <h4>@item?.Product?.Name</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h4>@item?.Price</h4>
                                            </td>
                                            <td>
                                                
                                                <form id="" asp-controller="Cart" asp-action="UpdateCart">
                                                    <input type="hidden" name="productId" value="@item?.Product?.ProductId">
                                                        <input style="height:57px" name="quantity" type="number" value="@item?.Quantity" min="0" max="10">

                                                        
                                                        <input style="top:-1px" class="btn btn-danger" type="submit" value="Update">
                                                </form>
                                                
                                            </td>
                                            <td>
                                                @{
                                                    float total = (float)item.Price * (int) item.Quantity;
                                                    subtotal += total;
                                                }
                                                <h4>@total</h4>
                                            </td>

                                            <td>
                                                <form asp-action="RemoveFromCart" asp-controller="Cart">
                                                    <input type="hidden" name="productId" value="@item?.ProductId" />
                                                    <button class="btn btn-danger" type="submit">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h4>Subtotal</h4>
                                        </td>
                                        <td>
                                            <h4>@subtotal</h4>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="checkout_btn_inner float-right">
                                <a class="btn" asp-controller="Products">Continue Shopping</a>
                                <a class="btn checkout_btn_1" asp-controller="orders" asp-action="create">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>
    }
}
